body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  background-image: linear-gradient(319deg, #6a5acd 0%, #c54b8c 37%, #b284be 100%);
  background-color: #861657;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}