
.Header .logo {
    width: 90px;
    height: 90px;
}
.Header .css-1cdctrw-MuiGrid2-root {
    background-color: transparent;
    box-shadow: none;
}
.Header .css-mhc70k-MuiGrid-root {
    padding: 15px;
}
.Header .css-1ha5wk2-MuiSvgIcon-root {
    fill: #fff;
}