.preferences {
    padding-top: 70px !important;
}
.css-i4bv87-MuiSvgIcon-root {
    font-size: 16px;
}
.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root p {
    font-size: 14px;
    color: #b94885;
}
.css-ahj2mt-MuiTypography-root p {
    font-size: 14px;
}